:root {
    --purple: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);

    --poppins: "Poppins", sans-serif;
    --open-sans: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--purple);
    background-image: url(./images/bg-mobile.svg);
    color: white;   
    padding: 6vw 6vw;
    text-align: center;
}

span {
    display: block;
}

.header {
    display: flex;
}

.logo {
    width: 8.3rem;
}

.hero {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    column-gap: 4rem;
}

.heading {
    font-family: var(--poppins);
    font-size: 1.6rem;
    font-weight: 600;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}

.body {
    font-family: var(--open-sans);
    font-size: 1.1rem;
}

.image {
    width: 100%;
}

.button {
    padding: .5rem 5rem;
    font-family: var(--open-sans);
    font-size: .82rem;
    background-color: white;
    border-radius: 2rem;
    color: var(--purple);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}

.button:hover {
    background-color: var(--magenta);
    font-weight: bold;
    color: white;
}

.social-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.social {
    width: 8rem;
    display: flex;
    justify-content: space-around;
}

.social-item {
    width: 1.9em;
    height: 1.9em;
    line-height: 1.9em;
    font-size: .9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid thin;
    border-radius: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease-in-out; 
}

.social-item:hover {
    color: var(--magenta);
}

/* 1440px media screen */

@media screen and (min-width: 1440px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        text-align: start;
    }

    .logo {
        width: 13rem;
    }

    .hero {
        margin-bottom: 1.8rem;
        flex-direction: row;
    }

    .image {
        width: 700px;
    }

    .heading {
        font-size: 2.48rem;
    }

    .text {
        padding-top: 2.5rem;
        max-width: 500px;
        justify-content: start;
        align-items: start;
    }

    .body {
        line-height: 1.5;
    }

    .button {
        padding: .9rem 4rem;
        font-size: 1rem;
    }

    .social-wrap {
        justify-content: end;
    }

    .social {
        width: 9rem;
    }

    .social-item {
        font-size: 1rem;
    }
}